.btn {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	font-size: 0.9375rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background: transparent;
	border: 1px solid transparent;
	color: white;
	transition: color 0.15s ease-in-out, filter 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;

	&:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.25);
	}

	&.active {
		color: var(--color-primary-dark);
	}
}

.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.825rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.171875rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.btn-primary {
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-dark);

	&:hover {
		background-color: var(--color-primary-dark-highlight);
		border-color: var(--color-primary-dark-highlight);
	}
}

.btn-custom {
	background-color: var(--color-button);
	border-color: var(--color-button);

	&:hover {
		background-color: var(--color-button-lighter);
		border-color: var(--color-button-lighter);
	}
}

.btn-brighten:hover {
	filter: brightness(1.2);
}

.blur {
	box-shadow: 0px 4px 12px 0 HSL(243deg 62% 18% / 20%), 0px 2px 6px 0 HSL(243deg 62% 18% / 15%);
	backdrop-filter: brightness(calc(100% - var(--panel-opacity) / 1.666666667))
			contrast(110%) saturate(140%) blur(var(--panel-blur));
}

.btn-danger {
	background-color: #e74c3c;
	border-color: #e74c3c;

	&:hover {
		background-color: #e12e1c;
		border-color: #d62c1a;
		color: white;
	}
}

.btn-secondary {
	background-color: #262626;
	border-color: #262626;

	&:hover {
		background-color: #333;
		border-color: #333;
		color: white;
	}
}

.btn-outline {
	border-color: rgba(255, 255, 255, 0.2);
	color: white;

	&:hover {
		border-color: rgba(255, 255, 255, 0.25);
		background-color: rgba(255, 255, 255, 0.075);
		color: white;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
}
