.field {
	margin: 0 0 1.25em 0;

	p.text-muted {
		margin: 0.5em 0 1em 0;
	}
}

.radios > div {
	margin-bottom: 0.75em;
}

* .field:last-child, .radios > div:last-child {
	margin: 0;
}

.label, label:not(.inline) {
	display: block;
	margin: 0 0 0.5em 0;
	font-weight: bold;
}

input:not(.invisible):not([type="radio"]):not([type="checkbox"]):not([type="color"]),
		textarea:not(.invisible), .fake-input {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

input:not(.invisible), textarea:not(.invisible), select, .fake-input {
	background: rgba(200, 200, 200, 0.075);
	border: 1px solid rgba(200, 200, 200, 0.1);
	border-radius: 0.25rem;
	color: white;
	padding: 0.375rem 0.75rem;


	&:invalid {
		background: rgba(255, 180, 180, 0.2);
		border: 2px solid rgba(255, 32, 32, 0.6);
	}
}

input:not(.invisible), textarea:not(.invisible) {
	box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, 0.1);
}

option {
	background: #333;
	color: white;
}

input[type="color"] {
	padding: 0.2rem;
	width: 50px;
	height: 50px;
}

input, textarea {
	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
}

input.large, textarea.large {
	font-size: 120%;
	padding: 0.7rem 1rem;
}

textarea.invisible, input.invisible {
	background: transparent;
	border: none;
	color: white;
	resize: none;
	font-family: inherit;
}

.panel.flush .invisible:focus {
	outline: none;
}

.field-group {
	display: flex;

	> * {
		margin: 0;

		&:not(:first-child) {
			border-left: none !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}

		&:not(:last-child) {
			border-right: none !important;
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}

	.unit {
		background: rgba(200, 200, 200, 0.05);
		border: 1px solid rgba(200, 200, 200, 0.1);
		border-radius: 0.25rem;
		padding: 0.3rem 0.6rem;
		min-width: 20px;
		text-align: center;
	}
}

.unit-field input {
	width: auto !important;
}

.input-auto {
	display: inline-block;
	position: relative;

	.backing {
		display: inline-block;
		visibility: hidden;
		text-shadow: none;
	}

	input {
		display: inline-block;
		position: absolute;
		width: 100%;
		left: 0;
		top: -1px;
	}

	input[value=""], input:focus, input:hover {
		border-bottom: 2px solid rgba(255, 255, 255, 0.8);
		padding-bottom: 3px;
		margin-bottom: -3px;
	}
}

td.field {
	text-align: center;
}

td.field input:not([type='checkbox']):not([type='radio']) {
	width: 100%;
}

tr.hint td {
	font-size: 80%;
	white-space: normal;
	color: rgba(255, 255, 255, 0.8);
}

textarea.fullwidth {
	box-sizing: border-box;
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
}

.display-none {
	display: none !important;
}
