.stats {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;

	.singlestat {
		width: 100px;
		flex-grow: 1;
	}
}

.singlestat {
	display: flex;
	flex-direction: column;

	.title, .value {
		text-align: center;
		display: block;
	}

	.title {
		opacity: 0.7;
		font-size: 90%;
	}

	.value {
		font-size: 120%;
		font-weight: bold;
	}
}
