.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}

.h-100 {
	height: 100% !important;
}

$margins: (0, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 2rem);

@for $i from 1 to 8 {
	.m-#{$i - 1} {
		margin: nth($margins, $i) !important;
	}

	.ml-#{$i - 1}, .mx-#{$i - 1} {
		margin-left: nth($margins, $i) !important;
	}

	.mr-#{$i - 1}, .mx-#{$i - 1} {
		margin-right: nth($margins, $i) !important;
	}

	.mb-#{$i - 1}, .my-#{$i - 1} {
		margin-bottom: nth($margins, $i) !important;
	}

	.mt-#{$i - 1}, .my-#{$i - 1} {
		margin-top: nth($margins, $i) !important;
	}

	.p-#{$i - 1} {
		padding: nth($margins, $i) !important;
	}

	.pl-#{$i - 1}, .px-#{$i - 1} {
		padding-left: nth($margins, $i) !important;
	}

	.pr-#{$i - 1}, .px-#{$i - 1} {
		padding-right: nth($margins, $i) !important;
	}

	.pb-#{$i - 1}, .py-#{$i - 1} {
		padding-bottom: nth($margins, $i) !important;
	}

	.pt-#{$i - 1}, .py-#{$i - 1} {
		padding-top: nth($margins, $i) !important;
	}
}

.text-muted {
	color: rgba(255, 255, 255, 0.5);

	b:not(.text-normal), strong:not(.text-normal) {
		color: rgba(255, 255, 255, 0.65);
	}
}

.text-normal, .text-normal b, .text-normal strong {
	color: #eee;
	font-weight: normal;
}

.text-shadow, .text-shadow input {
	text-shadow: 0 0 1.5em rgba(15, 15, 15, 0.2), 2px 2px 2px rgba(15, 15, 15, 0.3);

	svg {
		filter: drop-shadow(0 0 1.5em rgba(15, 15, 15, 0.2))
			drop-shadow(2px 2px 2px rgba(15, 15, 15, 0.3));
	}
}

.float-right {
	float: right;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.vertical-middle {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.middle-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.row > .middle-center, .row > .vertical-middle {
	height: auto;
}

.clear-both {
	clear: both;
}

.scrollable {
	overflow: hidden auto;
	overflow-wrap: break-word;
	width: 100%;
	height: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.row-gap {
	gap: 2rem;
}

.row-vertical {
	flex-direction: column;
}

.col {
	display: block;
	flex-grow: 1;
}

.col-auto {
	display: block;
	flex-shrink: 0;
}

.col-1 {
	flex-basis: 8.33%;
}

.col-2 {
	flex-basis: 16.66%;
}

.one-half {
	flex-basis: 50%;
}

.one-third {
	flex-basis: 33.33%;
}

.two-thirds {
	flex-basis: 66.66%;
}

.align-items-center {
	align-items: center;
}

.one-line {
	@include line_clamp(1);
}

.no-list {
	list-style: none;
	padding: 0;

	li {
		list-style: none;
	}
}
