.widget {
	position: relative;

	.widget-strip {
		position: absolute;
		top: -30px;
		left: 0;

		max-height: 30px;

		display: flex;
		flex-flow: row;
		align-items: center;
		visibility: collapse;

		padding: 0;
		margin: 0;

		z-index: 100;
		border-radius: 0.25rem 0.25rem 0 0;
		transition: opacity 0.15s ease-in-out;
		opacity: 0;
		user-select: none;
		overflow: hidden;
		background-color: rgba(15, 15, 15, 0.5);

		.widget-title {
			margin: 0;
			padding: 0.2rem 1rem 0.2rem 0.8rem;
			display: inline-block;
			flex: 1;
			cursor: move;

			.fa-grip-vertical {
				opacity: 0.3;
			}
		}
	}

	.widget-inner {
		width: 100%;
		height: 100%;
	}

	.widget-btns {
		margin: 0;
		padding: 0;
		z-index: 100;

		.btn {
			color: white;
			padding: 0.2rem 0.65rem;
			margin: 0;
			border-radius: 0;
			&:hover {
				color: white;
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}

	> .widget-btns {
		position: absolute;
		top: 0;
		right: 0;

		.btn {
			transition: color 0.15s ease-in-out;
			color: transparent;
		}
	}

	.panel {
		height: 100%;
		box-sizing: border-box;
	}

	.react-resizable-handle {
		background-image: none;

		&::after {
			transition: border-color 0.15s ease-in-out;
			border-color: transparent;
		}
	}

	div.large {
		font-size: 180%;
	}

	div.large input {
		font-size: 100%;
	}

	div.medium {
		font-size: 130%;
	}

	div.medium input {
		font-size: 100%;
	}
}


@supports (backdrop-filter: brightness(70%) contrast(110%) saturate(140%) blur(12px)) {
	.widget .widget-strip {
		background: none;
		backdrop-filter: brightness(calc(100% - var(--panel-opacity) / 1.666666667))
				contrast(110%) saturate(140%) blur(var(--panel-blur));
	}
}

.unlocked .widget {
	&:hover {
		border: 2px dashed rgba(15, 15, 15, 0.3);
		margin: -2px;
	}

	&:hover, &.fake {
		& > .widget-btns .btn {
			color: white;
		}

		.react-resizable-handle::after {
			border-color: rgba(255, 255, 255, 0.6);
		}

		.widget-strip {
			opacity: 0.8;
			visibility: visible;
		}
	}

	.widget-strip:hover, &.fake .widget-strip {
		.collapsed {
			display: none;
		}

		> *:not(.collapsed) {
			display: block;
		}

		opacity: 1;
	}
}

.react-grid-item.cssTransforms {
	transition-property: none;
}

.react-grid-item.react-grid-placeholder {
	background: #336699;
}

.react-grid-layout {
	transition: none;
}

.react-grid-layout.animated {
	transition: height 200ms ease;
}

.animated .react-grid-item.cssTransforms {
	transition-property: transform;
}

main > .widget {
	margin: 1em 0;
}

.weather {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-gap: 0.5em;
	grid-auto-flow: dense;
	text-align: center;

	h2 {
		margin: 0;
	}

	.large {
		font-size: 200%;
	}

	.label {
		display: block;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 0.3rem;
	}

	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	.forecast {
		font-size: 80%;

		.label {
			font-size: 100%;
		}
	}

	.forecast .icon {
		width: 25px;
		padding: 0;
		margin: 0 2px 0 0;
	}
}

.row-span-2 {
	grid-row: span 2;
}

.row-span-3 {
	grid-row: span 3;
}

.col-span-2 {
	grid-column: span 2;
}

.col-span-3 {
	grid-column: span 3;
}

.widget-image {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0.25rem;
	}

	.panel > a, .panel-invis > a {
		display: block;
		width: 100%;
		height: 100%;

		&:hover {
			filter: brightness(1.1);
		}
	}
}

.widget-search input, .widget-search form, .widget-notes textarea {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.image-caption {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	gap: 10px;
	text-align: center;

	& > a {
		display: block;
		flex: 1;
		overflow: hidden;

		img {
			display: block;
			object-fit: contain;
			height: 100%;
			width: 100%;
		}
	}
}

.widget-dailygoal {
	.btn {
		visibility: collapse;
	}

	&:hover .btn {
		visibility: visible;
	}
}

.widget-text .scrollable {
	white-space: pre-wrap;
}

.widget-button > .btn {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

.quote {
	text-align: center;
	flex-direction: column;

	.quote-text {
		font-size: 140%;
	}

	.quote-info {
		margin-top: 0.75em;
		font-size: 90%;
		opacity: 0.8;
		color: #eee;

		a {
			display: inline-block;
			margin-left: 2em;
			font-size: 90%;
			color: white;
			opacity: 0.5;
		}
	}
}

.quote:hover .quote-info a {
	opacity: 0.65;
}

.widget-clock {
	.time, .date {
		display: block;
		text-align: center;
		margin: 0;
	}

	.time {
		font-size: 64pt;
	}

	.date {
		font-size: 20pt;
	}
}
