<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="icon.svg">
</head>
<body>
	<div id="app"></div>
	<noscript>
		You need to enable JavaScript for this app to work.
	</noscript>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<% if (webext) { %>
		<script src="browser-polyfill.min.js"></script>
	<% } %>
</body>
</html>
