<p id="summary">
	Halaman Tab Baharu yang boleh diubahsuai, dengan widget dan latar belakang yang cantik
</p>


<h2> Sifat-sifat</h2>
<ul>
	<li>
		<b>Sistem Widget yang Berkuasa</b>: anda boleh tambah, pindah, ubah saiz, dan tetapkan widget dalam grid menggunakan kawalan yang intuitif.
	</li>
	<li>
		<b>Latar Belakang yang Cantik</b>: lihat latar belakang yang diberikan secara rawak setiap 15 minit, disediakan oleh Unsplash. Anda juga boleh pilih warna pepejal, himpunan tersuai daripada Unsplash, atau imej latar belakang tersuai.
	</li>
	<li>
		<b>Boleh Ubah Suai</b>: tukar latar belakang, tema, dan tetapkan setiap widget secara berasingannya.
	</li>
	<li>
		<b>Pelbagai Bahasa</b>: menyokong pelbagai bahasa. Terjemahan <a href="https://renewedtab.rubenwardy.com/translations/">disenggara oleh komuniti</a>, membolehkan para pengguna untuk menyumbang sokongan untuk bahasa mereka.
	</li>
</ul>


<h2>Widget</h2>
<ul>
	<li><b>Suapan RSS dan Atom</b>: boleh digunakan untuk melihat berita atau mengikuti laman sesawang.</li>
	<li><b>Cuaca</b></li>
	<li><b>Senarai Tugasan</b>: jejak tugasan yang anda perlu lakukan.</li>
	<li><b>Pautan Pantas</b>: tunjukkan pautan, dengan pilihan untuk menambah ikon dan pengepala kecil.</li>
	<li><b>Tapak Teratas</b>: tunjukkan laman sesawang yang anda kerap lawati.</li>
	<li><b>Matlamat Harian</b>: masukkan matlamat harian untuk dicapai.</li>
	<li><b>Tanda Buku</b>: tunjukkan tanda buku daripada bar alatan tanda buku.</li>
	<li><b>Kata Sapaan</b>: untuk disapa berdasarkan waktu semasa.</li>
	<li><b>Petikan</b>: menunjukkan petikan secara rawak, dengan kategori.</li>
	<li><b>Jam</b>: tunjukkan waktu semasa, pilih di antara 12 dan 24 jam.</li>
	<li><b>Nota</b>: tuliskan nota di kawasan teks bentuk bebas.</li>
	<li><b>Umur</b>: tunjukkan umur semasa anda dengan terlampau tepat.</li>
	<li><b>Gelintar</b>: bar gelintar, dengan sokongan untuk menukar enjin gelintar.</li>
	<li><b>Komik Sesawang</b>: tunjukkan panel terbaru daripada sesuatu komik sesawang.</li>
	<li><b>Kemajuan Tahun</b>: tunjukkan kemajuan dalam tahun sebagai bar kemajuan.</li>
	<li><b>Pelancaran Angkasa Mendatang</b></li>
	<li>dan banyak lagi: butang, imej, HTML, dan IFrame.</li>
</ul>


<h2>Berorientasikan Privasi</h2>
<p>
	Kami merekanya sambil mengutamakan privasi! Kami hanya perlukan kebenaran minimum: untuk menyimpan data di komputer anda, dan untuk melihat enjin gelintar lalai. Kebenaran lain adalah pilihan dan diminta pada waktu jalan, apabila diperlukan. Kesemua data anda disimpan di pelayar anda, bukan di pelayan kami.
</p>
<p>
	Untuk maklumat lanjut, sila lihat <a href="https://addons.mozilla.org/en-US/firefox/addon/renewed-tab/privacy/">Polisi Privasi</a>.
</p>

<h2>Sokongan</h2>
<p>
	Perlukan bantuan? Jumpa pepijat, atau ada permintaan? Sila lihat halaman <a href="https://renewedtab.rubenwardy.com/help/">Bantuan dan Soalan Lazim</a> untuk lihat soalan yang sering ditanya dan untuk berhubung dengan kami.
</p>
<p>
	Untuk mendapatkan rupa kabur seperti yang kelihatan dalam tangkapan layar, anda perlu mendayakan sifat jana sesawang 'webrender' yang masih dalam ujian. Sila lihat <a href="https://renewedtab.rubenwardy.com/help/#how-do-i-enable-the-blur-on-firefox">rencana halaman bantuan</a>.
</p>
